html{
    height:auto;
}
body{
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
    position: unset !important;
    background-color:#fafafa;
}
#app {
    text-align: center;
    /*margin-top: 50px;*/
}
header#header {
    background: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,0.12),0 1px 4px rgba(0,0,0,0.12) !important;
    z-index: 2;
    top: 0;
    right: 0;
    height: 50px;
    left: 0;
    position: absolute;
}
header#header .header-menu-right{
    text-align: right;
}
header#header .header-menu-text{
    margin-top:3px;
}
header#header img.logo {
    height: 36px;
    margin-top: 3px;
}
header#header a {
    text-decoration: none;
    color: black;
}
header#header p {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}
header#header span {
    font-size: 14px;
    font-weight: unset;
}
.inner{
    max-width: 1100px;
    margin: auto;
}
header#header .inner {
    text-align: left;
    margin: 5px auto;
    max-width: 1100px;
}

@media all and (max-width: 600px){
    header#header img{
        position: absolute;
    }
}

