@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: #92278f, // The primary color of your brand
  accent: #ba68c8 // The secondary color of your brand
));

@import "~vue-material/dist/theme/all"; // Apply the theme

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    //src: url(./material.woff2) format('woff2');
    //src: url(http://civil808.com/en/staticfile/material.woff2) format('woff2');
    //src: url(http://ali.dev.com/en/staticfile/material.woff2) format('woff2');
    src: url(http://ed808.com/staticfile/material.woff2) format('woff2');
  }

  .md-progress-bar.md-theme-default.md-indeterminate .md-progress-bar-track:after,
  .md-progress-bar.md-theme-default.md-indeterminate .md-progress-bar-fill:after,
  .md-progress-bar.md-theme-default.md-query .md-progress-bar-track:after,
  .md-progress-bar.md-theme-default.md-query .md-progress-bar-fill:after {
        background-color: #92278f !important;
    }