@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: #92278f, // The primary color of your brand
  accent: #ba68c8 // The secondary color of your brand
));

@import "~vue-material/dist/theme/all"; // Apply the theme

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./material.woff2) format('woff2'),url(http://ed808.com/staticfile/material.woff2) format('woff2');
  //src: url(http://ed808.com/staticfile/material.woff2) format('woff2');
}
.md-progress-bar.md-theme-default.md-indeterminate .md-progress-bar-track:after,
.md-progress-bar.md-theme-default.md-indeterminate .md-progress-bar-fill:after,
.md-progress-bar.md-theme-default.md-query .md-progress-bar-track:after,
.md-progress-bar.md-theme-default.md-query .md-progress-bar-fill:after {
  background-color: #92278f !important;
}

@mixin main-center-content(){
  max-width: 800px;
  text-align: left;
  direction: ltr;
  margin: auto;
}
:root{
  --md-theme-default-primary : #92278f;
  --md-theme-default-accent : #ba68c8;
  --md-theme-default-scrollbar-on-background-variant: #aaa;
}
html{
  height:auto;
}
body{
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
  position: unset !important;
  background-color:#fafafa;
}
#app {
  text-align: center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header#header{
  box-shadow: 0 1px 6px rgba(0,0,0,0.12),0 1px 4px rgba(0,0,0,0.12) !important;
  background: #fff;
  z-index: 2;
  top: 0;
  right: 0;
  height: 90px;
  left: 0;
  position: absolute;
  .inner {
    max-width: none;
    padding: 0 36px;
    text-align: left;
    height: 100%;
    align-items: center;
  }
  + div {
    margin-top: 90px;
  }
  .header-menu-right{
    text-align: right;
    margin-top: 4px;
  }
  img.logo {
    height: 36px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  p {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
  }
  span {
    font-size: 14px;
    font-weight: unset;
  }
}
