body{
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
}
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 50px;
}
header#header {
    background: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,0.12),0 1px 4px rgba(0,0,0,0.12) !important;
    z-index: 999;
    top: 0;
    right: 0;
    height: 50px;
    left: 0;
    position: fixed;
    font-family: serif;
}
header#header img {
    height: 36px;
    display: inline-block;
    vertical-align: bottom;
}
.inner {
    max-width: 1100px;
    margin: auto;
}
header#header .menu a {
    text-decoration: none;
    margin: 0 10px;
    color: black;
}
.menu {
    float: right;
    padding-top: 10px;
}
header#header .site-name {
    display: inline-block;
    margin: 0 0 0px 10px;
}
header#header p {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}
header#header span {
    font-size: 14px;
    font-weight: unset;
}
header#header .inner {
    text-align: left;
    margin: 5px auto;
}
section#webinar {
    padding-bottom: 40px;
}
.page-iframe .mejs-container{
    padding-bottom: 53% !important;
}
.playlist{
    background-color: #f5f5f5;
    padding: 70px 0;
}
.playlist img{
    display: inline-block;
    width: 300px;
}
.playlist .right{
    display: inline-block;
    width: calc(100% - 350px);
    vertical-align: top;
    text-align: left;
    margin-left: 33px;
}
.playlist .right a{
    width: 250px;
    border-radius: 30px;
    height: 50px;
    font-size: 16px;
    display: block;
    background-color: #e2c3ff;
    text-decoration: blink;
    color: black;
    text-align: center;
    line-height: 47px;
    margin-top:30px;
}
.admin-error{
    display: none;
}
section#webinar .inner {
    text-align: left;
    margin-top: 85px;
}
section#webinar img{
    margin-right: 55px;
    display: inline-block;
    width: 30.5%;
    max-width: 324px;
    vertical-align: top;
}
section#webinar .webinar-text{
    display: inline-block;
    width: 64%;     
}
section#webinar a{
    width: 313px;
    border-radius: 30px;
    height: 50px;
    font-size: 19px;
    display: block;
    background-color: #e2c3ff;
    text-decoration: blink;
    color: black;
    text-align: center;
    line-height: 47px;
}

section#webinar .top {
    padding-bottom: 0px;
    margin-bottom: 0;
    text-align: left;
    padding-top: 22px;
    background-image: url(http://civil808.com/seismosoft/back.jpg);
    color: white;
    background-size: cover;
    min-height: 300px;
}
section#webinar .top h1{
    font-size: 28px;
}
section#webinar .top h2{
    font-size: 20px;
}
section#webinar .top p{
    padding-top:10px;
    color:#b1b1b1;
}
section#webinar .top-in{ 
    padding:50px 0 0 100px;
}
section#subscribe {
    background-image: url(http://civil808.com/seismosoft/3931.jpg);
    padding: 80px 0 90px 0;
    background-size: cover;
    background-position: center;
}
section#subscribe h2{
    color: white;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 30px;
}
section#subscribe p{
    margin-bottom: 45px;
    color: #878787;
}
section#subscribe .input-wrapper{
    position: relative;
    width: 510px;
    margin: auto;
}
section#subscribe input{
    width: 510px;
    box-sizing: border-box;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-radius: 30px;
    height: 50px;
    -webkit-appearance: button-bevel;
    padding: 0 17px;
    font-size: 12px;
    outline: none;
}
section#subscribe button{
    position: absolute;
    height: 44px;
    right: -1px;
    top: -2px;
    width: 45px;
    border-radius: 50%;
    -webkit-appearance: button-bevel;
    margin: 5px;
    cursor: pointer;
    background-color: #eee;
}

section#subscribe button:before {
    content: '+';
    font-size: 28px;
    color: #ffffff;
}
.section{
    padding: 10px;
    width: 100%;
}

.title{
    text-align: center;
    padding: 37px;
}

.main{
    text-align: center;
}

.main div{
    display: inline-block;
    vertical-align: top;
    width: 300px;
    min-height: 450px;
    padding: 10px 25px;
    margin: 15px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
.footer h4{
    padding: 30px 0;
}
.main img{
    padding: 5px;
    height: auto;
    width: 150px;
}

.main p{
    text-align: left !important;
}

.footer{
    text-align: center;
    padding: 10px;
}
#inro{
    text-align: center;
    height: 500px;
    position: relative;
}

.top-pic{
    background-image: url(http://civil808.com/seismosoft/conf.jpg);
    background-size: cover;
    background-position: center;
    height: 241px;
    position: relative;
    margin-top: 50px;
}
.top-pic:before {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #0000005e;
}
section#intro.add{
    padding: 70px 0 0 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}
section#intro.add h2{
    margin-bottom: 30px;
}
section#intro.add a{
    width: 220px;
    border-radius: 30px;
    height: 50px;
    font-size: 16px;
    display: block;
    background-color: #e2c3ff;
    text-decoration: blink;
    color: black;
    text-align: center;
    line-height: 47px;
    margin: 22px auto 22px auto;
}

@media all and (min-width: 1280px){
    .main div{
        width: 350px;
    }
}

@media all and (max-width: 400px) {
    .main div{
        width: 200px;
        margin: 10px;
    }
    .main p{
        font-size: 15px;
    }

    .title{
        font-size: 15px;
        margin: 10px;
        padding: 5px;
    }
    .footer{
        font-size: 12px;
        margin: 5px;
        padding: 5px;
    }
}
section#news{
    width:80%;
    margin: 110px auto 20px auto;
}

