$z2: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
$z1: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
$z0: 0 2px 2px #edeef0;

$pad: 15px; 
$pad-wid: 0 $pad; 
$pad-heig: $pad 0; 

/*--------------------------------medias-----------------------------*/
$m1920 : "(min-width: 1920px)";
$x1600 : "(max-width: 1600px)";
$x1440 : "(max-width: 1440px)";
$m1280 : "(min-width: 1280px)";
$x1280 : "(max-width: 1280px)";
$m1024 : "(min-width: 1024px)";
$x1024 : "(max-width: 1024px)";
$x960 : "(max-width: 960px)";
$m840 : "(min-width: 840px)";
$x840 : "(max-width: 840px)";
$x720 : "(max-width: 720px)";
$x600 : "(max-width: 600px)";
$x480 : "(max-width: 480px)";
$x400 : "(max-width: 400px)";
$x360 : "(max-width: 360px)";

/*--------------------------------mixins-----------------------------*/
@mixin no-acrollbar{
	&::-webkit-scrollbar{
		height: 0px;
		width: 0px;
	}
}
@mixin paper($box-shadow){
	background: #fff;
	border: none;
	border-radius: 0;
	padding: $pad;
	box-shadow: $z0;
	@if $box-shadow == 'z'{box-shadow: none;}
	@else if $box-shadow == 'z1'{box-shadow: $z1;}
	@else if $box-shadow == 'z2'{box-shadow: $z2;}
}
@mixin absolute($w:'', $h:'', $t:'', $r:'', $b:'', $l:'') {
	position: absolute;
	@if $w != '' {width: $w;}
	@if $h != '' {height: $h;}
	@if $t != '' {top: $t;}
	@if $r != '' {right: $r;}
	@if $b != '' {bottom: $b;}
	@if $l != '' {left: $l;}
}
@mixin before($content, $font:"mat", $size:'', $color:''){
	&:before{
		content: "#{content}";
		font-family: $font;
		@if $size != '' {font-size: $size;}
		@if $color != '' {color: $color;}
	}
}
@mixin after($content, $font:"mat", $size:'', $color:''){
	&:before{
		content: "#{content}";
		font-family: $font;
		@if $size != '' {font-size: $size;}
		@if $color != '' {color: $color;}
	}
}
@mixin user-img($width:''){
	@if $width != '' {width: $width;}
	border-radius: 50%;
	border: 2px solid #fff;
	box-shadow: $z1;
	overflow: hidden;
}
@mixin btn(){
	background: #fbfbfb;
	border: none;
	height: 36px;
	border-radius: 2px;
	line-height: 36px;
	text-align: center;
	color: #444 !important;
	padding: 0 16px;
	text-shadow: none;
	display: inline-block;
	font-size: 14px;
	min-width: 88px;
	transition: all 0.2s;
	text-decoration: none;
	box-shadow: $z1;
	outline: none;
	&:hover{ background-color: #eee;}
	&:focus{
		background: #f5f5f5;
		box-shadow: $z2;
	}
}
@mixin red-btn(){
	@include btn;
	background: $mat-red;
	color: #fff !important;
	&:hover{ background-color: $mat-red-400;}
	&:focus{ background: $mat-red;}
}
@mixin green-btn(){
	@include btn;
	color: #fff !important;
	background-color: $mat-green;
	&:hover{ background-color: saturate($mat-green, 10%);}
	&:focus{ background: $mat-green;}
}
@mixin blue-btn(){
	@include btn;
	color: #fff !important;
	background-color: $mat-blue;
	&:hover{ background-color: saturate($mat-blue, 10%);}
	&:focus{ background: $mat-blue;}
}
@mixin small-btn(){
	line-height: 30px;
	height: 30px;
	min-width: 75px;
	font-size: 13px;
	padding: 0 13px;
}
@mixin line-btn($color:''){
	border-radius: 0;
	@if $color != '' {color: $color !important;}
	border: 1px solid currentColor;
}
@mixin flex($dir:'', $align:'', $justify:''){
	display: flex;
	@if $dir != '' {flex-direction: $dir;}	
	@if $align != '' {align-items: $align;}	
	@if $justify != '' {justify-content: $justify;}	
}
/*--------------------------------webkits-----------------------------*/
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
            border-radius: $radius;
}
@mixin box-shadow($arguments) {
    -webkit-box-shadow: $arguments;
       -moz-box-shadow: $arguments;
            box-shadow: $arguments;
}
@mixin transform($arguments){
	-ms-transform: $arguments;
	-webkit-transform: $arguments;
	transform: $arguments;
}
@mixin background-size($value){
	background-size: $value;
	-webkit-background-size: $value;
	-moz-background-size: $value;
	-o-background-size: $value;
}